body {
  background-color: rgb(201, 201, 201);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

nav {
  width: 100%;
  background-color: blue;
  padding: 5px;
}

nav a {
  color: #ffff;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
  padding: 0 20px;
}

.inhoud {
  margin: auto;
  max-width: 80%;
  padding: 10px;
  text-align: center;
  background-color: #ffff;
}
